.row{
    display: grid;
    grid-template-columns: 0.05fr 0.45fr 0.55fr 0.2fr 0.25fr;
    width: auto;
}
td{
    padding: 10px;
}
td:last-child, td:nth-child(4){
    padding: 10px 0 10px 10px;
}
td:not(:last-child){
    border-right: 1px solid grey;
}
/* tr{    
    border-top: 1px solid grey;
} */
